version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: galeria_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - uploads:/app/uploads
    networks:
      - galeria-net

  pgadmin:
    image: dpage/pgadmin4
    container_name: galeria_pgadmin
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PG_ADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PG_ADMIN_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
      - galeria-net

  api:
    build: .
    container_name: galeria-api
    env_file:
      - .env
    environment:
      DB_HOST: db
    ports:
      - "8080:8080"
    volumes:
      - uploads:/app/uploads
    depends_on:
      - db
    networks:
      - galeria-net

volumes:
  pgdata:
  uploads:

networks:
  galeria-net: